/** Responsive Styles **/
@media (max-width: 768px) {
    header {
        font-size: 1.5em;
    }
    
    main {
        padding: 10px;
    }
    
    section {
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.2em;
    }
    
    main {
        padding: 5px;
    }
    
    section {
        margin-bottom: 10px;
    }
    
    footer {
        font-size: 0.8em;
    }
}
/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Rotating Image Styles */
.image-container {
    position: relative; 
}

.rotating-image {
    width: 300px; 
    height: 300px; 
    animation: rotate 20s linear infinite;
    position: center; 
    top: 0;
    left: 0;
    z-index: 1; 
}

/* Keyframes forotating animation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

/* Front Image Styles */
.front-image {
    width: 150px; 
    height: auto;
    position: relative; 
    z-index: 1; 
    margin-top: 100px; 
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        font-size: 1.5em;
    }
    
    main {
        padding: 10px;
    }
    
    section {
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.2em;
    }
    
    main {
        padding: 5px;
    }
    
    section {
        margin-bottom: 10px;
    }
    
    footer {
        font-size: 0.8em;
    }
}
